p {
  max-width: 600px;
  font-size: 25px;
  margin: 0 auto;
  line-height: 35px;
  transition: all 0.3s ease-in;
  text-decoration: none;
  position: relative;
}

span {
  position: relative;
  display: block;
}


/* p:hover {
  text-decoration: underline;
} */

span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(28, 131, 179);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

span:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
